.intro {

    
}
.intro header {
    overflow: hidden;
    position: fixed;
    top:0;
    
    width: 100%;
    height: 15%;
    background: url("static/images/Zen_garden.jpg");
    background-size: 100%

}
.intro h1{
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Courier New';
    animation: mymove 6s alternate-reverse infinite;
    text-transform: uppercase;
    line-height: 0;
    padding-bottom:0;}


.intro h2{
        text-align: center;
        font-size: 40px;
        font-family: 'Courier New', Courier, monospace ;
        animation: mymove 5s alternate-reverse infinite;
        line-height: 0;
    }
.intro .summary {
    font-size: 10px;
    font-family: 'Courier New';
    background: url("static/images/Zen_garden.jpg");
    background-size: 300%;  
    background-position:right 10px;
    overflow: hidden;
    position: fixed;
    bottom:0;
    height: 2%px;
    width: 100%;
}

.intro .summary p{
    line-height: 30px;
    display: inline;
    text-align: justify;
}
.sidebar {
    overflow: hidden;
    position: fixed;
    top:15%;
    right:0%;
    width:20%;
    bottom:2%;
    background: url("static/images/Zen_garden.jpg");
    /* -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg); */
    background-size: 1000%;  
    background-position:right ;
}

.resources,.design-selection h3{
    color: rgb(228, 206, 192);

}
.archives{
    color: #b1995f;

}

.sidebar ul{
    list-style-type: none;
    margin:10px;
    padding:0;
    width: 300 px;
    margin-right:40px;
    background-color: rgb(228, 206, 192)
}

.sidebar li:hover{
    color: rgb(228, 206, 192);
    background-color:  #b1995f;
}

.sidebar li:hover a{
    color: rgb(228, 206, 192);
}

.sidebar li a{
    color:  #b1995f;
}

.sidebar li{
    background-color: rgb(228, 206, 192);
    color:  #b1995f;
}

#zen-supporting h3{ 
    text-align: center;
    margin-right:25%;
    margin-left:5%;
}
    

#zen-supporting p{
    margin-right:25%;
    margin-left:5%;
}
.preamble{
    margin-right:25%;
    margin-left:5%;
}
body{
    background: url("static/images/zen_sand.jpg") repeat;
    background-size:30%;
}
@keyframes mymove {
        from {color: rgb(228, 206, 192);}
        to {color: #b1995f;}

    }